body {
    background-color: #f5f0e6;
    color: #C28285;
    font-family: "Courier New", Courier, monospace;
}

.content {
    background-color: #f5f0e6;
    font-size: x-large;
    padding-left: 48px;
    padding-right: 48px;
    text-align: center;
}

.custom_navbar {
    background-color: #F7E7CE;
}

.large_font {
    font-size: large;
}

.medium_font {
    font-size: medium;
}

.outer_outline {
    background-color: #f5f0e6;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}

.inner_outline {
    background-color: #C28285;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}

.picture {
    background-image: url('our_picture.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

.small_font {
    font-size: small;
}

.hyperlink {
    color: #C28285;
}

.topa_picture {
    border: 5px solid #C28285;
	margin-bottom: 32px;
}

.topa_meeting_descriptions {
    text-align: left;
}

.wedding_party_picture {
    border: 5px solid #C28285;
    background: #C28285;
    margin-bottom: 32px;
	object-fit: contain;
}

.wedding_bios {
    text-align: left;
}

.clear_button {
    background-color: #f5f0e6;
    border: none;
}
