body {
    background-color: #f5f0e6;
    color: #C28285;
    font-family: "Courier New", Courier, monospace;
    font-size: x-large;
}

.content {
    background-color: #f5f0e6;
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
}

.custom_navbar {
    background-color: #F7E7CE;
}

.large_font{
    font-size: large;
}

.medium_font{
    font-size: medium;
}

.outline {
    background-color: #C28285;
    margin-bottom: 8px;
    margin-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}

.picture {
    background-image: url('our_picture.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

.small_font{
    font-size: small;
}
