body {
    background-color: #f5f0e6;
    color: #C28285;
    font-family: "Courier New", Courier, monospace;
}

.content {
    background-color: #f5f0e6;
    font-size: x-large;
    padding-left: 48px;
    padding-right: 48px;
    text-align: center;
}

.schedule_content {
    background-color: #f5f0e6;
    font-size: x-large;
    padding-left: 48px;
    padding-right: 48px;
}

.not_schedule {
    text-align: center;
}

.schedule {
    text-align: left;
}

.custom_navbar {
    background-color: #F7E7CE;
}

.large_font {
    font-size: large;
}

.medium_font {
    font-size: medium;
}

.outer_outline {
    background-color: #f5f0e6;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}

.inner_outline {
    background-color: #C28285;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}

.index_picture {
    background-image: url("topa_back_hug.jpg");
    background-position: center;
}

.baby_picture {
    background-image: url("topa_baby.jpg");
    background-position: 42%;
}

.rsvp_picture {
    background-image: url("topa_hands.jpg");
    background-position: center;
}

.travel_accommodations_picture {
    background-image: url("topa_plane.jpg");
    background-position: center;
}

.schedule_picture {
    background-image: url("topa_back.jpg");
    background-position: center;
}

.things_to_do_picture {
    background-image: url("topa_back_hug_look.jpg");
    background-position: center;
}

.extras_picture {
    background-image: url("topa_hug_look.jpg");
    background-position: center;
}

.faq_picture {
    background-image: url("topa_twirl.jpg");
    background-position: center;
}

.parallax {
    min-height: 800px;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.small_font {
    font-size: small;
}

.hyperlink {
    color: #C28285;
}

.topa_picture {
    border: 5px solid #C28285;
	margin-bottom: 32px;
}

.topa_meeting_descriptions {
    text-align: left;
}

.wedding_party_picture {
    border: 5px solid #C28285;
    background: #C28285;
    margin-bottom: 32px;
	object-fit: contain;
}

.wedding_bios {
    text-align: left;
}

.clear_button {
    background-color: #f5f0e6;
    border: none;
}
